body{
    background-color: #d73838;
}
.wrapper{
    background-color: #fff;
    padding: 40px ;
    margin: 20px 0px;
    border-radius: 10px;
    border: 2px solid gray;
}
.cust-row{
    padding:0px 50px;
    width: 100%;
}
.cust-card{
    margin-top: 30px;
}

.cust-card2{
   
    margin-top: 20px;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
}
.pro-img{
    margin: 10px 50px;
}
.heart{
    color: rgb(106, 102, 102);
    display: flex;
    justify-content: flex-end;
    
    
}
.heart2{
    position: absolute;
    top:-30px;
    right: -30px;
    
    margin: 7px;
   
}
.for-relative{
    position: relative;
    border-bottom:1px solid rgb(214, 207, 207) ;
}
.favourite{
    margin: 10px;
}
.add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    gap: 10px;
}
.checked{
    color: orange;
}
.login-cart-div{
    display: flex;
    gap: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.spans{
    font-size: 35px;
}
.blue{
    color: rgb(8, 149, 237);
}
.pink{
    color: rgb(240, 29, 162);
}
.outer{
    margin: 10px 20px;
}
.gap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    gap: 30px;
}
.cust-col-sm-6{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.color-red{
    color: rgb(231, 20, 20);
}
.cart-img-details{
    border: 1px solid rgb(227, 226, 226);
    
    display: flex;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 2px 2px 0px rgb(243, 241, 241);
}
.cart-outer{
    margin: 20px;
}
.without-del{
    display: flex;
    gap: 30px;
    padding: 20px;
}
.details{
    padding:  0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.outer-row{
    padding: 20px;
}
.cart-items-gap{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.order-summary{
    border: 1px solid rgb(227, 226, 226);
    margin-right: 20px;
    margin-top: 20px;
    padding:20px;
    box-shadow: 2px 2px 0px rgb(243, 241, 241);
}
.htag{
    color: rgb(134, 130, 130);
    font-weight: 300;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.htag-again{
    font-size: 20px;
    font-weight: 400;
    color: rgb(56, 54, 54);
}
.order-summary-gap{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.h4tag{
    padding-top: 10px;
    color: rgb(70, 68, 68);
    font-weight: 400;
}
h3{
    padding-bottom: 30px;
}
.another{
    padding-bottom: 0px;
}
.cart-and-num{
    display: flex;
    align-items: flex-start;
}
.small{
    background-color: red;
    border-radius: 100%;
    color:white;
    padding: 0px 5px;
    border: none;
}
.common{
    border: none;
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 13px;
}
.numberDisplay{
    padding: 0px 7px;
    margin: 2px;
    background-color: rgb(223, 220, 219);
}
.symbol{
    padding: 0px 3px;
    background-color: rgb(244, 241, 239);
}
.heading{
    padding-bottom: 0px;
}
.buttons{
    padding-bottom: 5px;
}
.empty{
    text-align: center;
    color: red;
    padding-top: 200px;
}
.btn-red-color{
    background-color: red;
    border: none;
   
}
.btn-blue-color{
    background-color:#007bff;
    border: none;
    
}
.btn-green-color{
    background-color:rgb(31, 139, 31);
    border: none;
    
}
.white-color{
    color: white;
    
}
.for-padding{
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.remove{
    background-color: rgb(246, 244, 240);
    border-radius: 100%;
    padding: 3px;
    
}
.new-class{
    padding:2px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.cart-adj{
    display: flex;
    align-items: center;

}
.profile-deco{
    padding: 4px 10px;
    background-color: #007bff;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.login-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.navbarWithSubcat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 2px 2px 5px rgb(203, 200, 200);
    background-color: rgb(249, 242, 235);
    position: fixed;
    z-index: 1;
}
.subs{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    gap: 20px;
    color: rgb(50, 49, 49);
}
.nav-3icons{
    display: flex;
    align-items: center;
    gap: 25px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.for-hover{
    padding: 10px;
}
.for-hover:hover{
    background-color: rgb(234, 238, 218);
}
.for-delete{
    background-color: rgb(230, 226, 221);
    padding: 7px 5px;
    margin: 10px;
    border-radius: 100%;
}
.for-delete:hover{
    background-color: rgb(238, 184, 176);
   
}
.small2{
    background-color: red;
    font-size: 10px;
    border-radius: 100%;
    color:white;
    padding: 0px 4px;
    border: none;
    position: absolute;
}
.for-center{
    text-align: center;
    padding-top: 250px;
    color: red;
}
.prods{
    padding-top:100px ;
    
}
.five-items{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.card-replace{
    display: flex;
    padding:30px;
    padding-bottom: 15px;
    flex-direction: column;
    margin: 25px;
    background-color: white;
    border-radius: 5px;
}
.profile-padding{
    padding: 20px;
}
.img-background{
    margin-bottom: 10px ;
    
}
.add-to-cart2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 7px;
    
}
.for-radius{
    border-radius: 4px;
}
.without-product-image{
    display: flex;
    flex-direction: column;
    gap:10px
}
.p-side-side{
    display: flex;
    flex-direction: column;
    gap:5px
}
.style-star{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.price{
    display: flex;
    align-items: center;
    gap:5px;
}
.cart-page{
    display: flex;
}
.discount{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 5px 0px;
}
.original-price{
    color:gray;
    font-weight: 300;
    color: red;
}
.rating{
    display: flex;
    align-items: flex-end;
}
.discount-again{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.spacing{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px
}
.centering{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
